body {
    font-family: system-ui, sans-serif;
    margin: 50px;
    background-color: hsl(0, 0%, 7%);
    color: white;
}

#infoCard {
    background-color: hsl(0, 0%, 16%);
    padding: 24px;
    border-radius: 12px;
    margin: 50px auto;
}

#infoCard h1 {
    justify-content: center;
    display: flex;
}

#cardsContainer {
    background-color: hsl(0, 0%, 16%);
    padding: 24px;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
}

.collapsible {
    width: 516px;
    height: 32px;
    background-color: hsl(0, 0%, 32%);
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    text-align: left;
    font-size: 16px;
    margin: 24px 24px 0 24px;
    border-radius: 12px;
}

.active, .collapsible:hover {
    background-color: hsl(0, 0%, 48%);
}

.collapsible:after {
    content: "\002B";
    font-size: 18px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    font-size: 18px;
    content: "\2212";
}

.myForm {
    display: none;
    width: 500px;
    padding: 8px;
    margin: 0 24px;
    overflow: hidden;
    background-color: hsl(0, 0%, 12%);
    justify-content: left;
    border-radius: 0 0 12px 12px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.countdownCard {
    background-color: hsl(0, 0%, 12%);
    border-radius: 8px;
    padding: 24px;
    margin: 24px;
    width: 500px;
}

.countdownDisplay {
    display: flex;
    padding: auto, 12px;
}

.dayDisplay,
.hourDisplay,
.minDisplay,
.secDisplay {
    background-color: black;
    padding: 8px;
    text-align: center;
    margin: auto 12px;
}